---
Language:        Cpp
BasedOnStyle:  WebKit
FixNamespaceComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 70
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
MaxEmptyLinesToKeep: 1
...
